
body {
  color: #520909d1;
}
.hidden {
  display: none;
}

.timeline__wrapper{
  position: relative;
  width: 800px;
  margin: auto;
}

.timeline{
  display: flex;
  min-height: 300px;
  /* width: 800px;
  margin: auto; */
}
.timeline__line{
  width: 10px;
  border-radius: 8px;
  background-color: lightskyblue;
  
}

.timeline__board{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.timeline__input{
  /* box-sizing: border-box; */
  width: calc(100% - 18px);
  margin: auto;
  margin: 0 22px;
  height: 30px;

}

/* .timeline::after{

  position: absolute;

  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gold;
} */

.timeline__audio, .timeline__video{
  position: absolute;
  right: 0;
  bottom: 3px;
  font-size: 20px;
  /* height: 20px; */
  /* width: 20px; */
  /* background-color: red; */
}

.timeline__audio{
  right: 50px;

}

.timeline__item{
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;

  display: flex;
  flex-direction: column;

  min-height: 40px;
  width: 100%;
  /* height: 30px; */
}

.item__date{
  align-self: flex-end;
  margin-right: 10px;
}

.timeline__item::before{
  position: absolute;
  left:  -15px;
  
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(75, 191, 230);
}
.item__data{
  margin-left: 5px;
}
.item__coordinate{
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.geolocation__form{
  position: absolute;
  left: calc(50% - 200px);
  top: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  z-index: 2;

}

.geolocation__text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.geolocation__form > span {
  margin: 10px;
}

.geolocation__input{
  width: calc(100% - 20px);
  height: 30px;
  /* background-color: lightpink */

}

.geolocation__buttons{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 11px;
}

.geolocation__button-ok, .geolocation__button-close{
  height: 30px;

}

.geolocation__error{
  color: red;
  text-align: center;
}